<h1>Angular Material Form Validation</h1>
<hr>

<div style="margin-left:20px;">
  <h3>Angular Form</h3>
  <div class="example-container">
    <form [formGroup]="addShopFormGroup"  (ngSubmit)="onSubmit()" class="example-form">

      <div class="row">
        <div class="col-md-6">
            <p>
                <mat-form-field  class="example-full-width">
                  <mat-label>First Name</mat-label>
                  <input matInput [ngModel]="FirstName" formControlName="FirstName" >
                  <mat-error *ngIf="checkError('FirstName', 'required')">FirstName is required</mat-error>
                  <mat-error *ngIf="checkError('FirstName', 'minlength')">FirstName should be more than 3 characters</mat-error>
                  <mat-error *ngIf="checkError('FirstName', 'maxlength')">FirstName should be less than 20 characters</mat-error>
                </mat-form-field>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <mat-form-field  class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput [ngModel]="lastName" formControlName="lastName" >
                    <mat-error *ngIf="checkError('lastName', 'required')">lastName is required</mat-error>
                    <mat-error *ngIf="checkError('lastName', 'minlength')">lastName should be more than 3 characters</mat-error>
                    <mat-error *ngIf="checkError('lastName', 'maxlength')">lastName should be less than 20 characters</mat-error>
                  </mat-form-field>
            </p>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <p>
                <mat-form-field  class="example-full-width">
                    <mat-label>city</mat-label>
                    <input matInput [ngModel]="city" formControlName="city" >
                    <mat-error *ngIf="checkError('city', 'required')">city is required</mat-error>
                    <mat-error *ngIf="checkError('city', 'minlength')">city should be more than 3 characters</mat-error>
                    <mat-error *ngIf="checkError('city', 'maxlength')">city should be less than 20 characters</mat-error>
                  </mat-form-field>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <mat-form-field  class="example-full-width">
                    <mat-label>state</mat-label>
                    <input matInput [ngModel]="state" formControlName="state" >
                    <mat-error *ngIf="checkError('state', 'required')">state is required</mat-error>
                    <mat-error *ngIf="checkError('state', 'minlength')">state should be more than 3 characters</mat-error>
                    <mat-error *ngIf="checkError('state', 'maxlength')">state should be less than 20 characters</mat-error>
                  </mat-form-field>
            </p>
        </div>
      </div>



      <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
                  <h6> Select Your Car</h6> 
                    <mat-label>select cars</mat-label>
                    <select matNativeControl required [ngModel]="Car" formControlName="Car">
                        <option >Choose Car</option>
                        <option value="volvo">Volvo</option>
                       <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  <mat-error *ngIf="checkError('Car', 'required')">Car is required</mat-error>
                    </mat-form-field>
          </div>
          <div class="col-md-6">
              <p>
                  <mat-form-field  class="example-full-width">
                    <mat-label>your comments</mat-label>
                        <textarea matInput  formControlName="comments"></textarea>
                        <mat-error *ngIf="checkError('comments', 'required')">comments is required</mat-error>
                        <mat-error *ngIf="checkError('comments', 'maxlength')">comments should be less than 200 characters</mat-error>
                  </mat-form-field>
              </p> 
            </div>
        </div>


    
       
    


           
          
   

          
                
      <button type="submit" [disabled]="!addShopFormGroup.valid" >Submit</button>
    </form>
    </div>
  </div>
  