#gridContainer{
    height: 400px !important;
    background-color: aquamarine;
    color:blueviolet;
    border-radius: 10px;
}
#clear{
    height:100px;
    width:150px;
}

.dx-overlay-wrapper{

    /* z-index: 1501; !important */
    position: fixed !important ;
     left: 0px !important;
    top: 0px !important;
   

}
dx-overlay-shader {
    
    
}